agents/004_invoice_processing.json
{
  "name": "003-invoice-processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mm-eFbrlRKr3Rdx3wR6JlgQhlg8P6NZp",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mm-eFbrlRKr3Rdx3wR6JlgQhlg8P6NZp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f509b3a5-4a6c-4382-bc50-1fd033b85ee1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HLIzFVbcR9KFgsrD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "85b49914-6ebe-45b1-892b-50169c97ef38",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HLIzFVbcR9KFgsrD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "785aa6a9-55e8-4758-aeec-c6d4a37b76ea",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice Number",
              "description": "Number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Address of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "Email address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "Phone Number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "type": "number",
              "description": "Total Amount from the Invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "Date the invoice was sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "Date which the amount must be paid",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "cbf422f9-233a-495d-b3ba-bb77e405f7dd",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        220
      ],
      "id": "6710de5b-ae16-47f0-a2e6-bf94bc1bc88c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "byHxTSrfXt76LB83",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18sRbE44F-OM-8E3o2cBKFNL-qvMtSJYn8jtt0Oo58M0",
          "mode": "list",
          "cachedResultName": "InvoiceDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sRbE44F-OM-8E3o2cBKFNL-qvMtSJYn8jtt0Oo58M0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18sRbE44F-OM-8E3o2cBKFNL-qvMtSJYn8jtt0Oo58M0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        0
      ],
      "id": "a7cfb9d7-25df-4b7f-aa76-55e890e3a0ad",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xRHHFqE3ruvgkRoT",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert business assistant who specialises in sending emails to various departments.\n\nYour job is to notify the internal billing team that an invoice was received.\n\nOutput the following parameters\n- Subject\n- Email",
              "role": "system"
            },
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\nClient Name: {{ $json['Client Name'] }}\nClient Email: {{ $json['Client Email'] }}\nClient Phone: {{ $json['Client Phone'] }}\nTotal Amount: {{ $json['Total Amount'] }}\nInvoice Date: {{ $json['Invoice Date'] }}\nDue Date: {{ $json['Due Date'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1240,
        0
      ],
      "id": "f219f464-68d2-4824-8361-f2495f570efa",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "byHxTSrfXt76LB83",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pnarotam@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "id": "2cb6d88d-de2e-432f-badf-4b766bbb970d",
      "name": "Gmail",
      "webhookId": "84f36fe7-1de3-49e0-8205-faa8d3e895d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "alv8Tx6ih2bW9kmT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0356a31b-65fc-4149-91eb-ab1e495f80f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e298017de092a534920277341fd78892759a1ec93a3b4be5beee94cd7cf6f1a8"
  },
  "id": "VdqiLtqN83UBwHBQ",
  "tags": []
}