agents/document_storage.json
{
  "name": "document-storage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XXGjnAVJ3P3zw5YdB7hihpJPk3QqZp0I",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XXGjnAVJ3P3zw5YdB7hihpJPk3QqZp0I"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "e393d0a2-01c5-48d6-9cc2-8d23d319ba31",
      "name": "New File Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HLIzFVbcR9KFgsrD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "4886d65e-df45-444e-aa7b-07c7b3e1d11b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "byHxTSrfXt76LB83",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        648,
        420
      ],
      "id": "e9c40306-1b7f-4890-8b01-55742752814d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Document Storage",
        "height": 80,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -220
      ],
      "id": "27c65aea-d21e-484d-9763-bba65b302185",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        860
      ],
      "id": "c73d3003-4c99-4666-9b9a-b9cc077d6331",
      "name": "When chat message received",
      "webhookId": "56c7ee95-4d56-4f18-9484-5c745cf3b5eb"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant in reading company documents stored in a vector store. Answer any questions in a friendly tone and retrieve information from the vector db."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        236,
        860
      ],
      "id": "b7f02bd6-749c-482b-9a05-3f6420287e99",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        1080
      ],
      "id": "ea9e2957-7e46-425c-8827-493aac6aecbc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "byHxTSrfXt76LB83",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Uploading documents to Pinecone",
        "height": 80,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        -40
      ],
      "id": "0534db89-70b9-41e2-bb87-b65a3c195bb5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        200
      ],
      "id": "a4d12613-8d12-4a6d-aba8-0eebf20e9c11",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HLIzFVbcR9KFgsrD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        222.5
      ],
      "id": "ede8e844-632a-46a2-8c71-8d2718a22df7",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-agent-001",
          "mode": "list",
          "cachedResultName": "n8n-agent-001"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        456,
        0
      ],
      "id": "d7ce6613-37c9-4081-9a66-3868a798c700",
      "name": "Write Document to Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wSV7S3JbB7KpMUoL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Call this tool to retrieve company documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-agent-001",
          "mode": "list",
          "cachedResultName": "n8n-agent-001"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        340,
        1082.5
      ],
      "id": "ad255434-bc16-453c-927c-d683cb88d5ce",
      "name": "Read From Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wSV7S3JbB7KpMUoL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        428,
        1280
      ],
      "id": "f9315598-455f-4e0e-8f22-81595d105b59",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "byHxTSrfXt76LB83",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New File Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Write Document to Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Write Document to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Write Document to Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Read From Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Read From Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ed4c8de-69e1-43c5-bcc0-0adfcaa654d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e298017de092a534920277341fd78892759a1ec93a3b4be5beee94cd7cf6f1a8"
  },
  "id": "6NqEeYNXOGlzELFw",
  "tags": []
}